b-container(fluid class="p-4 bg-dark")
  b-row
    b-col
      b-img(thumbnail fluid src="https://picsum.photos/125/125/?image=35" alt="Thumbnail")
    b-col
      b-img(thumbnail fluid src="https://picsum.photos/125/125/?image=58" alt="Thumbnail")
    b-col
      b-img(thumbnail fluid src="https://picsum.photos/125/125/?image=59" alt="Thumbnail")
    b-col
      b-img(thumbnail fluid src="https://picsum.photos/125/125/?image=54" alt="Thumbnail")
    b-col
      b-img(thumbnail fluid src="https://picsum.photos/125/125/?image=41" alt="Thumbnail")
  br
  b-row
    b-col
      b-img(thumbnail fluid src="https://picsum.photos/125/125/?image=30" alt="Thumbnail")
    b-col
      b-img(thumbnail fluid src="https://picsum.photos/125/125/?image=55" alt="Thumbnail")
    b-col
      b-img(thumbnail fluid src="https://picsum.photos/125/125/?image=60" alt="Thumbnail")
    b-col
      b-img(thumbnail fluid src="https://picsum.photos/125/125/?image=44" alt="Thumbnail")
    b-col
      b-img(thumbnail fluid src="https://picsum.photos/125/125/?image=47" alt="Thumbnail")
  br
  b-row
    b-col
      b-img(thumbnail fluid src="https://picsum.photos/125/125/?image=61" alt="Thumbnail")
    b-col
      b-img(thumbnail fluid src="https://picsum.photos/125/125/?image=56" alt="Thumbnail")
    b-col
      b-img(thumbnail fluid src="https://picsum.photos/125/125/?image=69" alt="Thumbnail")
    b-col
      b-img(thumbnail fluid src="https://picsum.photos/125/125/?image=43" alt="Thumbnail")
    b-col
      b-img(thumbnail fluid src="https://picsum.photos/125/125/?image=38" alt="Thumbnail")
