.row
  .col-6.col-md-3(v-for="gallery in gallerys", :key="gallery.id")
    b-card-group
      b-card.zoom(
        :title="$t(gallery.title)"
        )
        b-card-img(v-lazy="gallery.url",
          :alt="$t(gallery.title)",
          src,
          top
        )
