footer
  .container-fluid
    .row
      .col-md-4.offset-md-4
        socialNetworks
    .row.py-1
      .col.text-center
        h6 ©{{ year }} Smarensol  {{ $t('rights')}} |&nbsp;
          a.text-light(href="https://chacunsonsite.ca", target="_blank", rel="noopener noreferrer")
            small {{ $t('chacun') }} ChacunSonSite
