b-carousel(id="carouselSlider"
  style="text-shadow: 1px 1px 2px #333;"
  controls
  indicators
  background="#ababab"
  :interval="5000"
  v-model="slide"
  @sliding-start="onSlideStart"
  @sliding-end="onSlideEnd"
)
  b-carousel-slide(
    v-for="slide in sliders"
    :key="slide.id"
    :img-src="slide.url"
    :title="slide.title"
  )
