footer.bg-primary
  .container-fluid
    .row
      .col-md-10.offset-md-1.text-center
        social-networks
    .row
      .col.text-center.text-center.text-warning
        h6 ©{{ year }}
          img.img(src="~/assets/ChacunsonsiteLogo.png", alt="Chacunsonsite", height="32")
          h6 {{ $t('rights')}}
