footer.bg-primary
  .container-fluid
    .row
      .col-md-6.offset-md-3.text-center
        social-networks
    .row.py-1
      .col.text-center
        h6 ©{{ year }} ChacunSonSite  {{ $t('rights')}}
