footer.bg-primary
  .container-fluid
    .row
      .col-md-10.offset-md-1.text-center
        social-networks
    .row
      .col.text-center
        h6 ©{{ year }} ChacunSonSite  {{ $t('rights')}}
      img(src="~/assets/ChacunsonsiteLogo-sm.jpg", alt="ChacunSonsite", height="80")
