b-carousel(id="carousel1"
  style="text-shadow: 1px 1px 2px #333;"
  controls
  indicators
  background="#ababab"
  :interval="9000"
  img-width="1200"
  img-height="900"
)
  b-carousel-slide(:img-src="smarensol")
  b-carousel-slide(:img-src="energy")
  b-carousel-slide(:img-src="industry")
  b-carousel-slide(:img-src="oil")
