b-carousel(id="carousel1"
  style="text-shadow: 1px 1px 2px #333;"
  controls
  indicators
  background="#ababab"
  :interval="9000"
  img-width="1200"
  img-height="900"
)
  b-carousel-slide(img-src="https://picsum.photos/1024/480/?image=52")
  b-carousel-slide(img-src="https://picsum.photos/1024/480/?image=54")
  b-carousel-slide(img-src="https://picsum.photos/1024/480/?image=58")
  b-carousel-slide(img-src="https://picsum.photos/1024/480/?image=55")
