@charset "utf-8";
.wraper {
   min-height:100vh;
}
@import '~bootstrap/scss/functions';
@import './customVariables.scss';
.zoom:hover {
  transform: scale(1.02);
  box-shadow: -1px 2px $gray-300;
}
@import '~bootstrap/scss/bootstrap';
