div
  b-card-group(deck)
    .row
      .col-6.col-lg-3(v-for="gallery in gallerys", :key="gallery.id")
        b-card(
          :title="$t(gallery.title)"
          :img-src="gallery.url"
          img-alt="Img"
          img-top
          )
          p.card-text
            p.text This is a wider card with supporting text below as a natural lead-in to additional content.
          b-button(to="/" variant="primary") See More
