.row.row-eq-height
  b-card.col-12.bg-gallery(no-body, v-for="el in elements", :key="el._id",
    v-lazy="el.backgroundImage",
    :class="'col-md-'+el.gallerySize"
    :style="{ backgroundImage: 'url(' + el.backgroundImage + ')'}"
  )
    b-link(v-b-modal="el.video_id")
      b-row.no-gutters.opacity
        b-col.card-text(sm="12")
          b-card-body.text-light
            p.text {{el.client_name}}
            h1.subtitle {{el.name}}
            p.text {{el.description}}
        b-col.card-img
          .col-sm-12.image.gallery(
            :style="{ backgroundImage: 'url(' + el.image.link + ')' }"
          )
    popup(:videoId="el.video_id", :name="el.name" )
