.title{
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 40px;
  color: #35495e;
  letter-spacing: 1px;
  text-align: center;
}
.text {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-size: 18px;
  color: #000000;
  text-align: center;
}
.col {
  margin-top: 30px;
  margin-bottom: 40px;
  animation-name: example;
  animation-duration: 2s;
}

@-webkit-keyframes example {
  0%   {left:0px; top:0px; opacity:0.3;}
  25%  {left:200px; top:0px;}
}
