header.sticky-top.bd-navbar
  b-navbar.navbar-light.bg-light(toggleable="md")
    nuxt-link.nav-link(:to="localePath('index')")
      img(src="~assets/ChacunsonsiteLogo.png", alt="ChacunSonSite", :height="imgHeight")
    b-navbar-toggle(target="nav_collapse")
    b-collapse(is-nav id="nav_collapse")
      b-navbar-nav.ml-auto
        nuxt-link.nav-link(:to="localePath('index')") {{ $t('menu.elements') }}
        nuxt-link.nav-link(:to="localePath('index')") {{ $t('menu.works') }}
        nuxt-link.nav-link(:to="localePath('index')") {{ $t('menu.contactUs') }}
        b-nav-item-dropdown(variant="link", size="lg", right )
          template(slot="button-content")
            img.img-fluid.flag(:src="$i18n.locales.filter(function(i){return i.code == $i18n.locale})[0].flag")
          nuxt-link.nav-link(
          v-for="locale in $i18n.locales",
          v-if="locale.code !== $i18n.locale",
          :key="locale.code",
          :to="switchLocalePath(locale.code)")
            img.img-fluid.flag(:src="locale.flag")
