header.sticky-top.bd-navbar
  b-navbar.navbar-light.bg-light(toggleable="md")
    nuxt-link.nav-link(:to="localePath('index')")
      img(src="~assets/ChacunsonsiteLogo.png", alt="ChacunSonSite", :height="imgHeight")
    b-navbar-toggle(target="nav_collapse")
    b-collapse(is-nav id="nav_collapse")
      b-navbar-nav.ml-auto
        b-nav-item( href="#services" ) {{ $t('menu.services') }}
        b-nav-item( href="#works" ) {{ $t('menu.works') }}
        b-nav-item( href="#technologies" ) {{ $t('menu.technologies') }}
        b-nav-item( href="#blog" ) {{ $t('menu.blog')}}
        b-nav-item( href="#contact-us" ) {{ $t('menu.contactUs') }}
        b-nav-item-dropdown(variant="link", size="lg", right )
          template(slot="button-content")
            span.text.text-secondary {{ $i18n.locales.filter(function(i){return i.code == $i18n.locale})[0].code }}
          nuxt-link.nav-link(
          v-for="locale in $i18n.locales",
          v-if="locale.code !== $i18n.locale",
          :key="locale.code",
          :to="switchLocalePath(locale.code)"
          )
            span.text-secondary {{ locale.code }}
