header.sticky-top.bd-navbar
  b-navbar.navbar-light.bg-light(toggleable="md")
    nuxt-link.nav-link(:to="localePath('index')")
      img(src="~assets/ChacunsonsiteLogo.png", alt="ChacunSonSite", :height="imgHeight")
    b-navbar-toggle(target="nav_collapse")
    b-collapse(is-nav id="nav_collapse")
      b-navbar-nav.ml-auto
        nuxt-link.nav-link(to="#elements") {{ $t('menu.elements') }}
        nuxt-link.nav-link(to="#services") {{ $t('menu.services') }}
        nuxt-link.nav-link(to="#works") {{ $t('menu.works') }}
        nuxt-link.nav-link(to="#contact-us") {{ $t('menu.contactUs') }}
        b-nav-item-dropdown(variant="link", size="lg", right )
          template(slot="button-content")
            span.text.text-secondary {{ $i18n.locales.filter(function(i){return i.code == $i18n.locale})[0].code }}
          nuxt-link.nav-link(
          v-for="locale in $i18n.locales",
          v-if="locale.code !== $i18n.locale",
          :key="locale.code",
          :to="switchLocalePath(locale.code)"
          )
            span.text-secondary {{ locale.code }}
