.wraper
  slider(:sliders="sliders")
  .col.text-center
    h1.title.py-4 TODAS TUS IDEAS LAS PODEMOS TRANSFORMAR EN DESARROLLO WEB
  background.text-primary.py-2
  br
  imageSection#elements(:imageSections="imageSections")
  br
  .col.text-center
    background.text-primary.py-2
    h1.title.py-4#services PRESTAMOS SERVICIOS QUE SE ADAPTAN A TUS NECESIDADES PARA HACER CRECER TU NEGOCIO EN LA WEB
    br
    h3 Desarrollamos productos donde lo mas importate es
    br
  imageTextSection(:imageTextSections="imageTextSections")
  br
  .col.text-center
    h1.title.py-4#works NUESTROS ULTIMOS TRABAJOS REALIZADOS
  background.text-primary.py-2
  galleryHorizontal.no-gutters(:galleryHorizontals="galleryHorizontals")
  background.text-primary.py-2
  br
  br
  .container#contact-us
    .row
      .col.text-center
        h1.title {{ $t('contact-us') }}
        br
    .row
      .col-md-4
        address(itemscope itemtype="http://schema.org/LocalBusiness")
          h1
            span.text-primary(itemprop="name") {{$t('data.title1')}}&nbsp
            span.text-secondary(itemprop="name") {{$t('data.title2')}}&nbsp
            span.text-primary(itemprop="name") {{$t('data.title3')}}
          br
          h4.text-success.mx-1 {{ $t('data-city') }}
          br
          a.text-warning(href="tel:+5812340581")
            phone-icon
            strong.mx-3 {{ $t('data-telephone') }}
          span
          br
          br
          a.text-dark(href="mailto:quebec@chacunsonsite.ca")
            mail-icon
            strong.mx-3 {{ $t('data-email-ca') }}
          br
          br
          a.text-dark(href="mailto:quebec@chacunsonsite.ca")
            mail-icon
            strong.mx-3 {{ $t('data-email-ec') }}
          br
          br
      .col-md-8
        contactForm
