.wraper
  slider(:sliders="sliders")
  .col.text-center
      h1.py-4 TODAS TUS IDEAS LAS PODEMOS TRANSFORMAR EN DESARROLLO WEB
  background.text-primary.py-2
  br
  imageSection(:imageSections="imageSections")
  br
  .col.text-center
      h1.py-4 NUESTROS ULTIMOS TRABAJOS REALIZADOS
  background.text-primary.py-2
  galleryHorizontal.no-gutters(:galleryHorizontals="galleryHorizontals")
  background.text-primary.py-2
  br
  br
  .container
    .row
      .col.text-center
        h1 {{ $t('contact-us') }}
        br
    .row
      .col-md-6
        address(itemscope itemtype="http://schema.org/LocalBusiness")
          h1(itemprop="name") {{ $t('data') }}
          br
          h4.mx-1 {{ $t('data-city') }}
          br
          a(href="tel:+5812340581")
            phone-icon
            strong.mx-3 {{ $t('data-telephone') }}
          span.text-primary
          br
          br
          a.text-dark(href="mailto:quebec@chacunsonsite.ca")
            mail-icon
            strong.mx-3 {{ $t('data-email-ca') }}
          br
          br
          a.text-dark(href="mailto:quebec@chacunsonsite.ca")
            mail-icon
            strong.mx-3 {{ $t('data-email-ec') }}
          br
          br
      .col-md-6
        contactForm
