b-tabs#tab
  b-tab(title="MISSION" active)
    br
    p Provide solutions for the electricity sector, with highly qualified personnel; in order to generate a good return for the business and contribute to national development.
  b-tab(title="VISION")
    br
    p To be leaders in the commercialization of solutions for the national electricity sector, seeking excellence and continuous improvement.
  b-tab(title="VALUES")
    br
    h4 Honesty
    p Our attitude is directed to fulfill what we promise, we will respect the truth and justice.
     h4 Efficiency
    p We will optimize our internal resources and processes.
     h4 Social Responsability
    p We will contribute to the social and environmental improvement of our stakeholders.
     h4 Teamwork
    p We will cultivate the camaraderie and development of work groups.
     h4 Continuous Improvement
    p We will constantly review our internal processes, in order to reduce the response time to our customers.
