div
  b-navbar.sticky-top.bd-navbar.navbar-light.bg-light(toggleable="md")
    nuxt-link.nav-link(:to="localePath('index')")
      img(src="~/assets/SmarensolLogo.svg", alt="Smaresol", :height="imgHeight")
    b-navbar-toggle(target="nav_collapse")
    b-collapse(is-nav id="nav_collapse")
      b-navbar-nav.ml-auto
        nuxt-link.nav-link(:to="localePath('about-us')") {{ $t('menu.company')}}
        b-nav-item-dropdown(:text="$t('menu.productLines.title')" right)
          nuxt-link.nav-link(:to="localePath('product-lines-distribution')") {{ $t('menu.productLines.distribution') }}
          nuxt-link.nav-link(:to="localePath('product-lines-substations')") {{ $t('menu.productLines.substations') }}
          nuxt-link.nav-link(:to="localePath('product-lines-transmission-lines')") {{ $t('menu.productLines.transmition') }}
          nuxt-link.nav-link(:to="localePath('product-lines-industrial')") {{ $t('menu.productLines.industrial') }}
        nuxt-link.nav-link(:to="localePath('customers')") {{ $t('menu.customers') }}
        nuxt-link.nav-link(:to="localePath('contact-us')") {{ $t('menu.contactUs') }}
        b-btn(v-b-modal.modalPrevent variant="success") DOWNLOAD BROCHURE
        popup
        b-nav-item-dropdown(variant="link", size="lg", right )
          template(slot="button-content")
            img.img-fluid(:src="$i18n.locales.filter(function(i){return i.code == $i18n.locale})[0].flag")
          nuxt-link.nav-link(
            v-for="locale in $i18n.locales",
            v-if="locale.code !== $i18n.locale",
            :key="locale.code",
            :to="switchLocalePath(locale.code)")
            img.img-fluid(:src="locale.flag")
  .container-fluid
    .row.bg-primary
      .col.text-center.text-light.py-2
        h4.title.bounce-enter-active {{ $t('welcome')}}
