#nav.container-fluid
  b-navbar.row(toggleable="md" type="dark" variant="info")
    b-navbar-toggle(target="nav_collapse")
    b-navbar-brand(to="/") Smarensol
    b-collapse(is-nav id="nav_collapse")
      b-navbar-nav
        b-nav-item(to="/") HOME
        b-nav-item(to="company/about-us") COMPANY
        b-nav-item-dropdown(text="PRODUCT LINES" right)
          b-dropdown-item(to="/product-lines/distribution") Distribution
          b-dropdown-item(to="/product-lines/substations") Substations
          b-dropdown-item(to="/product-lines/transmission-lines") Transmission Lines
          b-dropdown-item(to="/product-lines/industrial") Industrial
        b-nav-item(to="/allies") ALLIES
        b-nav-item(to="/customers") CUSTOMERS
        b-nav-item-dropdown(text="CONTACT" right)
          b-dropdown-item(to="/contact/institutional-data") Institutional Data
          b-dropdown-item(to="/contact/contact-us") Contact Us
        b-nav-item
         socialNetworks
        b-nav-item-dropdown(text="Lang" right)
          b-dropdown-item(href="#") EN
          b-dropdown-item(href="#") ES
