b-tabs#tab
  b-tab(title="MISSION" active)
    br
    h4 Mission
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus enim lectus, consequat ornare leo eu, euismod cursus mauris. Aenean tempus, metus in volutpat luctus, leo elit lacinia mauris, nec mollis odio urna eget diam. Cras a sem varius, aliquam metus eget, auctor ligula. Suspendisse a commodo purus. Cras suscipit tincidunt elit, vel fermentum purus tincidunt vel. Maecenas aliquet ipsum turpis, in placerat ante tristique ac. In accumsan felis nec ullamcorper condimentum.
    p Nulla accumsan euismod metus eget aliquam. Praesent elementum posuere sem a feugiat. Sed posuere rutrum leo, volutpat porttitor ante rutrum vel. Fusce eget mauris vel diam convallis faucibus sodales a est. Ut egestas a nibh in pellentesque. Aenean imperdiet auctor ornare. Quisque ultrices vel leo a elementum. Nunc orci nunc, placerat ut urna sed, porta consequat nisl. Quisque vel suscipit est, a tristique risus. Donec dignissim est justo, ut vulputate tellus porttitor in. Donec venenatis, urna vitae sollicitudin egestas, mauris risus condimentum risus, ac volutpat mi neque sed sem. Aenean venenatis arcu magna, ac sollicitudin ante dapibus ut. Proin faucibus, mi ac tristique luctus, turpis orci pharetra metus, dignissim dignissim ligula urna id ipsum. Mauris vehicula euismod ipsum sit amet pretium. Nam porttitor enim ac felis ultricies hendrerit. Ut ultricies felis quis felis laoreet, in bibendum tellus varius.
  b-tab(title="VISION")
    br
    h4 Vision
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla augue lectus, congue sit amet neque nec, feugiat euismod nisi. In hac habitasse platea dictumst. Donec a nunc nec elit convallis ullamcorper. Aliquam tristique finibus neque, sit amet volutpat ante accumsan eu. Quisque elementum nunc in ante accumsan, ut dignissim purus venenatis. Vivamus auctor dui a enim semper, sit amet sodales sem dictum. Phasellus ante turpis, eleifend eget nibh vitae, blandit euismod sem. Maecenas euismod euismod mauris, nec aliquam augue iaculis nec. Fusce dapibus, mi et iaculis suscipit, massa neque rhoncus justo, et sagittis turpis massa eget augue. Nam vulputate bibendum nunc vel bibendum.
  b-tab(title="POLICY")
    br
    h4 Policy
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla augue lectus, congue sit amet neque nec, feugiat euismod nisi. In hac habitasse platea dictumst.
