#tab{
  .nav-link {
    display: block;
    padding: 0.5rem 1.5rem;
    font-family: "Avenir Next",sans-serif;
  }
  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #000;
    background-color: #fff;
    text-align:center;
  }
  a {
    color: #adb5bd;
    text-decoration: none;
    background-color: transparent;
  }
}
.container {
  text-align: center;
}
